# Archivos especificos
__init__.py
objetivos.txt

# Archivos de cache / Directorios
__pycache__/

# Entornos virtuales (si usas virtualenv o similar)
entorno/

# Archivos con extenciones en especifico (Ej: *.py - *.txt)